.idea/vcs.xml
.idea/Pet_Project.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

vcx.xml
.env
venv/

Blog/Blog_app/migrations/__pycache__/
Blog/Blog_app/api/__pycache__/
Blog/Blog_account/migrations/__pycache__/
Blog/Blog_app/__pycache__/
Blog/Blog_account/__pycache__/


