<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Register Account </title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <h2 class="card-title text-center"> Register </h2>
                <div class="card-body py-md-4">

                    <form action="{% url 'register' %}" method="post">

                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <a href="{% url 'login' %}">Login</a> <button class="btn btn-primary" type="submit"> Create Account </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>